<!--
Base Selection || 3 Forms
1. Add artist
2. Edit artist
3. Remove artist
-->
<hr>
<div class="row">
  <div class="columns text-center">
    <h1>Administration Page</h1>
  </div>
</div>
<hr>
<div class="row collapse">
  <div class="medium-3 columns">
    <ul class="tabs vertical" id="artist-forms" data-tabs>
      <li class="tabs-title is-active"><a href="#add-artist-form" aria-selected="true">Add Artist</a></li>
      <li class="tabs-title"><a href="#edit-artist-form">Edit Artist</a></li>
      <li class="tabs-title"><a href="#delete-artist-form">Delete Artist</a></li>
    </ul>
  </div>

  <div class="medium-9 columns">
    <div class="tabs-content-vertical" data-tabs-content="artist-forms">
      <!-- form for Add artist -->
      <div class="tabs-panel is-active" id="add-artist-form">
        <form id="add-artist" method="post">
          <div class="medium-6 columns">
            <label for="first-name">First Name: </label>
            <input type="text" id="first-name" name="firstName" required>
          </div>
          <div class="medium-6 columns">
            <label for="last-name">Last Name: </label>
            <input type="text" id="last-name" name="lastName" required>
          </div>
          <div class="medium-2 columns">
            <label for="tag">Tag: </label>
            <input type="text" id="tag" name="tag" required>
          </div>
          <div class="medium-10 columns">
            <label for="style">Artist Styles: </label>
            <input type="text" id="style" name="artStyle">
          </div>
          <div class="medium-3 columns">
            <label for="hourly-rate">Hourly Rate:</label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number" id="hourly-rate" name="rateHourly">
            </div>
          </div>
          <div class="medium-3 columns">
            <label for="day-rate">Full-Day Rate:</label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number" id="day-rate" name="rateDay">
            </div>
          </div>
          <div class="medium-4 columns">
            <label for="start-date">Year Artist Began:</label>
            <input type="number" id="start-date" name="startDate" required>
          </div>
          <div class="columns">
            <label for="artist-bio">Artist Bio:</label>
            <textarea id="artist-bio" rows="10" name="bio" placeholder="Biography is required" required></textarea>
          </div>
          <div class="small-6 medium-3 columns">
            <label for="artist-image" class="button">Choose Profile Image</label>
            <input id="artist-image" type="file" class="show-for-sr" name="image" accepts="image/*">
          </div>
          <div class="small-6 medium-3 columns">
            <input type="submit" class="button alert" name="submit" id="add" value="Add Artist">
          </div>
        </form>
      </div>
      <!--
      Edit Artist:
      1. Drop down menu, pull artist names from database
      2. Display artist data
      3. Next to each data value, box edit data. Must be resubmitted
      -->
      <div class="tabs-panel" id="edit-artist-form">
        <form id="edit-artist" method="post">
          <div class="row">
            <div class="columns medium-12">
              <label for="selectArtist">Select an artist to edit:<br></label>
              <select name="selectArtist" id="select-artist">
                <option value="" default>Select artist</option>
                {{#each artists}}
                    <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div id="data-edit">
            <div class="columns callout secondary">
              <h4 class="text-center">Leave blank for no changes</h3>
            </div>
            <div class="medium-6 columns">
              <label for="first-name">Edit First Name:</label>
              <input type="text" id="edit-first-name" name="firstName">
            </div>
            <div class="medium-6 columns">
              <label for="last-name">Edit Last Name:</label>
              <input type="text" id="edit-last-name" name="lastName">
            </div>
            <div class="medium-2 columns">
              <label for="tag">Edit tag:<br></label>
              <input type="text" id="edit-tag" name="tag">
            </div>
            <div class="medium-10 columns">
              <label for="style">Edit art styles:<br></label>
              <input type="text" id="edit-style" name="style">
            </div>
            <div class="medium-3 columns">
              <label for="edit-hourly-rate">Edit Hourly Rate:</label>
              <div class="input-group">
                <span class="input-group-label">$</span>
                <input class="input-group-field" type="number" id="edit-hourly-rate" name="rateHourly">
              </div>
            </div>
            <div class="medium-3 columns">
              <label for="edit-day-rate">Edit Full-Day Rate:</label>
              <div class="input-group">
                <span class="input-group-label">$</span>
                <input class="input-group-field" type="number" id="edit-day-rate" name="rateDay">
              </div>
            </div>
            <div class="medium-4 columns">
              <label for="edit-start-date">Edit Start Year</label>
              <input type="number" id="edit-start-date" name="startDate" value="">
            </div>
            <div class="columns">
              <label for="edit-artist-bio">Edit Artist Bio:</label>
              <textarea id="edit-artist-bio" rows="10" name="bio" value=""></textarea>
            </div>
            <div class="columns">
              <input type="submit" class="button alert" name="edit" id="edit" value="Confirm Edit">
            </div>
          </div>
        </form>
      </div>
      <!--
      Delete Artist:
      1. Select menu: pull artist from database
      2. Delete artist button
      3. Alert confirmation
      -->
      <div class="tabs-panel" id="delete-artist-form">
        <form id="delete-artist" method="post">
          <label for="dSelectArtist">Select an artist to delete:</label>
          <select name="dSelectArtist" id="d-select-artist">
				<option value="" selected disabled>Select artist</option>
			{{#each artists}}
				<option value="{{_id}}">{{firstName}} {{lastName}}</option>
			{{/each}}
          </select>
          <input class="button alert" type="submit" name="delete" id="delete" value="Confirm Delete">
        </form>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="../js/api.js"></script>
